.hero {
    /* Background styles */
    background-image: url('/logo/bg-finger-scan.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: darkgreen;
    background-blend-mode: soft-light;
}

.hero .info {
    color: gray;
}