extends layout

block content
  h1= title
  h2= subtitle
  p Welcome to Blockchain Africa 2019!
  p Through this interactive experience we hope to start you on your own journey to discovering the truly transformative potential of Self-Sovereign Identity.
  p Begin by clicking the uPort menu item above..
