- 
  var navigation = [
    {
      id: 'home',
      link: '/',
      title: 'Home',
      type: [
        {
          id: 'users',
          title: 'User List'
        }
      ]
    },
    {
      id: 'user_menu',
      link: 'users',
      title: 'Users',
      type: [
        {
          id: 'users',
          title: 'User List'
        }
      ]
    },
    {
      id: 'uport',
      link: 'uport',
      title: 'uPort',
      type: [
        {
          id: 'request',
          title: 'Connect Request'
        },
        {
          id: 'attest',
          title: 'Push Attest'
        }
      ]
    }
  ]

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navigation
      ul.navigation__list
        each item in navigation
          li.navigation__element
            a(href=item.link, class='navigation__link--'+item.id).navigation__link=item.title
            //- ul.navigation__submenu
            //-   each item_sub in item.type
            //-     li.navigation__submenu-element
            //-       a(href='#'+item_sub.id).navigation__submenu-link=item_sub.title
    block content
  footer.footer-basic-centered
    p.footer-company-motto Digital Identity is for Everyone!
    p.footer-company-name 
        img(src="/images/logo.png" height="12", alt="SAFBC logo") 
        | SAFBC &copy; 2019