@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('/stylesheets/footer-basic-centered.css');

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font: bold 32px/1.5 'Open Sans', sans-serif;
  color: #000000ee;
  padding-bottom: 16px;
}

.navigation {
  margin: 0 auto;
  font-size: 14px;
  background-color: #f0bc12;
  width: 100%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navigation__element {
  list-style: none;
  position: relative;
}

.navigation__link {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  color: #302f29;
  box-shadow: inset 0 0 0 0 rgba(240, 101, 67, 0);
  transition: box-shadow 0.3s linear, color 0.3s linear;
}

.navigation__link:hover {
  box-shadow: inset 0 -50px 0 0 #1d1b1a;
  color: #e8e9eb;
}

.navigation__submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s linear;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f06543;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.navigation__submenu-element {
  list-style: none;
}

.navigation__submenu-link {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #e8e9eb;
  padding: 1em 2em;
  background-color: transparent;
  transition: background-color 0.1s linear;
}

.navigation__submenu-link:hover {
  background-color: rgba(49, 54, 56, 0.3);
}

.navigation__element {
  box-shadow: inset 0 0 0 0 rgba(240, 101, 67, 0);
  transition: box-shadow 0.3s linear, color 0.3s linear;
}

.navigation__element:hover {
  box-shadow: inset 0 -50px 0 0 #f06543;
  color: #e8e9eb;
}

.navigation__element:hover .navigation__link {
  color: #e8e9eb;
}

.navigation__element:hover .navigation__submenu {
  transform: translateX(-50%) scaleY(1);
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
}